<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anchora Mall</title>
</head>
<body>
    <h1>Welcome to Anchora Mall</h1>
    <p>Your one-stop shop for everything!</p>
    <p>Vincentius Filbert Amadeo</p>
    <p>2406351711 - PBP E</p>
    {% if username %}
    <p>Logged in as: <strong>{{ username }}</strong></p>
    {% if last_login %}
    <p>Last login: {{ last_login }}</p>
    {% endif %}
    <a href="{% url 'main:logout' %}"><button type="button">Logout</button></a>
    <a href="{% url 'main:product_list' %}"><button type="button">Go to My Products</button></a>
    {% else %}
    <a href="{% url 'main:login' %}"><button type="button">Login</button></a>
    <a href="{% url 'main:register' %}"><button type="button">Register</button></a>
    {% endif %}
</body>
</html>