<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
    <h1>My Products</h1>
    <p>Hi, {{ request.user.username }}!</p>
    <a href="{% url 'main:add_product' %}"><button>Add Product</button></a>
    <table border="1">
        <tr>
            <th>Owner</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product.user.username }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.category }}</td>
            <td>
                <a href="{% url 'main:product_detail' product.id %}"><button>Detail</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="{% url 'main:show_main' %}">Back to Home</a></p>
</body>
</html>
